<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ceo.name %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @ceo.salary %>
</p>

<p>
  <strong>Company:</strong>
  <%= @ceo.company %>
</p>

<p>
  <strong>Company revenue:</strong>
  <%= @ceo.company_revenue %>
</p>

<p>
  <strong>Number employees:</strong>
  <%= @ceo.number_employees %>
</p>

<%= link_to 'Edit', edit_ceo_path(@ceo) %> |
<%= link_to 'Back', ceos_path %>
